body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300; /* Corresponds to the Bold 400 style */
}

th {
    font-family: 'Raleway', sans-serif;
    font-weight: 600; /* Corresponds to the Bold 400 style */
}


.container-fluid {
    padding: 0px;
}

#viewMap {
    height: 540px;
    width: 800px;
}

#TrackList th, #TrackList td {
    padding: 0.3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


#detailList th, #detailList td, #AdditionalDetail th, #AdditionalDetail td {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#detailForm {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 540px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#TrackPointsList th, #TrackPointsList td {
    padding: 0.3rem;
}

.post-content {
    /*background: repeat scroll 0 0 #FFFFFF;*/
    /*background-color: rgba(255,255,255,0.6);*/
    opacity: 1;
    margin: -54px 20px 12px;
    top: 120px;
    left: 6%;
    width: 30%;
    position: absolute;
}

.md-yellow {
    color: #ffc107;
    font-size: 18px;
}

.md-grey {
    color: slategray;
    font-size: 18px;
}

.md-orange {
    color: orange;
    font-size: 18px;
}

.hand-pointer {
    cursor: pointer;
}

.crosshair-pointer {
    cursor: crosshair;
}

.x-pointer {
    cursor: not-allowed;
}

[data-md-tooltip] {
    position: relative;
}
[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #616161e6;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
[data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
}