.container-fluid {
    padding: 0px;
}

#viewMap {
    height: 540px;
}

#TrackList th, #TrackList td {
    padding: 0.3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


#detailList th, #detailList td, #AdditionalDetail th, #AdditionalDetail td {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#detailForm {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 540px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#TrackPointsList th, #TrackPointsList td {
    padding: 0.3rem;
}

.post-content {
    background: white repeat scroll 0 0 #FFFFFF;
    opacity: 1;
    margin: -54px 20px 12px;
    top: 190px;
    left: 35%;
    width: 25%;
    position: absolute;
}